{% extends 'main/layout.html'%}

{% block title %}Кнопочки{% endblock %}

{% block body%}
        <div class="features" style="display: flex; flex-direction: column; gap: 15px; width: 20%; margin-left: 400px">
                <h1>Просто кнопки</h1>
                <button class="btn btn-danger" style="margin-top: 20px">Danger кнопка</button>
                <button class="btn btn-primary" style="margin-top: 20px">Primary Кнопка</button>
                <button class="btn btn-warning" style="margin-top: 20px">Warning кнопка</button>
                <button class="btn btn-success" style="margin-top: 20px">Success кнопка</button>
                <button class="btn btn-secondary" style="margin-top: 20px">Secondary кнопка</button>
                <button class="btn btn-info" style="margin-top: 20px">Info кнопка</button>
                <button class="btn btn-light" style="margin-top: 20px">light кнопка</button>
                <button class="btn btn-dark" style="margin-top: 20px">Dark кнопка</button>
                <button class="btn btn-link" style="margin-top: 20px">Link кнопка</button>
                <button style="background-color: #5f0b7d; color: white; border: none; padding: 10px 20px; border-radius: 5px;">Custom кнопка</button>
        </div>
{% endblock %}