{% extends 'main/layout.html'%}

{% block title %}Главная{% endblock %}

{% block body%}
        <div class="features">
                <h1>Добро пожаловать на наш форум!</h1>
                <p>Здесь вы можете найти ответы на интересующие вопросы, поделиться своими идеями, обсудить актуальные темы и просто приятно провести время в кругу единомышленников.
Мы ценим дружелюбие, открытость и конструктивное общение. Присоединяйтесь к обсуждениям, создавайте свои темы и давайте сделаем это место еще лучше — вместе!</p>
                <button class="btn btn-warning" onclick="window.open('about','_self')">Про нас</button>
        </div>
{% endblock %}
